{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content %}
<p>&nbsp;</p>
<form action="/" method="GET">
  <input type="text" name="query" placeholder="Search" />
</form>
<p>&nbsp;</p>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Rating</td>
    </tr>
  </thead>
  <tbody>
    {% for chip in chips %} {% include "_chip_row.html" %} {% endfor %}
  </tbody>
</table>
{% endblock %} {% block javascript %}
<script>
  console.log("Hello Javascript!");
</script> {% endblock %}